body {
    background-color: burlywood;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px);
}

h1 {
    font-size: 120px;
    color: white;
}

h1 span:hover {
    color: brown;
    cursor: pointer;
}

.active {
    color: brown;
}